@model IstanbulUni.DAL.Model.Student

@{
    ViewBag.Title = "StudentAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class=".col-12 .col-sm-6 .col-lg-8">
        @using (Html.BeginForm("StudentAdd", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="control-label col-md-2">İsim</label>
            <div class="col-md-12">
                <input type="text" name="Name" class="form-control" required placeholder="Lütfen İsim Giriniz" maxlength="110" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <label class="control-label col-md-2">Soy isim</label>
            <div class="col-md-12">
                <input type="text" name="Surname" class="form-control" required placeholder="Lütfen Soy isim Giriniz" maxlength="110" />
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Öğrenici No</label>
            <div class="col-md-12">
                <input type="number" name="StudentNo" class="form-control" required placeholder="Lütfen Öğrenici No Giriniz" maxlength="110" />
                @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Üniversite İsmi</label>
            <div class="col-md-12">
                <input type="text" name="UniversityName" class="form-control" required placeholder="Lütfen Üniversite İsmi Giriniz" maxlength="110" />
                @Html.ValidationMessageFor(model => model.UniversityName, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2">Not</label>
            <div class="col-md-12">
                <input type="number" min="0" max="100" name="examScore" step="0.01" class="form-control" required placeholder="Lütfen Not Giriniz" maxlength="110" />
                @Html.ValidationMessageFor(model => model.examScore, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-outline-success"><i class="fa fa-check"></i>Ekle</button>
                        <a href="/studentlist" class="btn btn-outline-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                    </div>
                </div>
            </div>
        </div>
        }

    </div>
</div>